.app {
  position: relative;
}

.img-cover {
  object-fit: cover;
  max-width: 100%;
  display: block;
  height: auto;
}

.col-6 {
  width: 50%;
}

.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 0 4px;
  }
}

.section {
  min-height: 100vh;
}

.title {
  font-size: 4.6875rem;
  font-family: 'Yeseva One', cursive;
}

.subtitle {
  font-weight: bold;
  font-size: 2.0812rem;
}
