.app {
  position: relative;
}

.img-cover {
  object-fit: cover;
  max-width: 100%;
  display: block;
  height: auto;
}

.col-6 {
  width: 50%;
}

.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    margin: 0 4px;
  }
}

.section {
  min-height: 100vh;
}
