.counter-wrapper {
  display: flex;

  .react-icon:hover {
    color: red;
  }

  .react-icon:active {
    transform: translateY(1px);
  }
}

.counter__text {
  font-size: 1.5rem;
  align-self: center;
  padding: 0 8px;
  font-weight: bold;
  font-family: sans-serif;
  min-width: 43px;
  text-align: center;
}
