@import '../../../styles/configs';
@import '../../../styles/colors';

.modal-header {
  min-height: 48px;
  padding: 24px 48px 0 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $breakpoint-up-sm) {
    padding: 24px 48px 0 16px;
  }

  &__close-btn {
    transition: color $anim-time, transform $anim-time;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    right: 12px;
    top: 12px;

    &:hover {
      transform: scale(1.2);
    }
  }
  &__title-icon {
    transition: color $anim-time;
    display: inline-block;
    color: #f47262;
    line-height: 1;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    display: inline-block;
    margin-left: 12px;
    color: #f47262;
  }

  &__clear-btn {
    display: flex;
    margin-left: auto;
    margin-right: 16px;
    cursor: pointer;
    color: $grey-1;

    &:hover {
      color: $grey-2;
    }
  }

  .clear-btn__text {
    margin-left: 4px;
    padding-top: 2px;
  }
}
