@import '../../../styles/configs';

.modal-header {
  min-height: 48px;
  padding: 24px 48px 0 24px;

  &__close-btn {
    transition: color $anim-time;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    right: 12px;
    top: 12px;

    &:hover {
      color: #000;
    }
  }
  &__title-icon {
    transition: color $anim-time;
    display: inline-block;
    color: #f47262;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 1.75rem;
    font-weight: 700;
    display: inline-block;
    margin-left: 12px;
    color: #f47262;
  }

  &__close-btn {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
