@import '../../../styles/colors.scss';
@import '../../../styles/configs.scss';

.home {
  background-image: url(../../../assets/images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $breakpoint-up-sm) {
    background-image: url(../../../assets/images/home-bg-mobile.jpg);
  }

  &__content {
    width: 100%;
    max-width: 470px;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Yeseva One', cursive;
    color: #fff;
  }

  &__h1 {
    font-size: 8.625rem;
    line-height: 1;
    @media screen and (max-width: $breakpoint-up-md) {
      font-size: 6rem;
    }
  }
  &__subtitle {
    font-size: 3.0625rem;
    line-height: 49px;
    margin-bottom: 32px;
    @media screen and (max-width: $breakpoint-up-md) {
      font-size: 2.1437rem;
    }
  }
  &__text {
    font-size: 2.6875rem;
    @media screen and (max-width: $breakpoint-up-md) {
      font-size: 1.875rem;
    }
  }
}

.home-decoration {
  position: absolute;
  max-width: fit-content;
  width: 600px;
  pointer-events: none;

  @media screen and (max-width: $breakpoint-down-xxs) {
    display: none;
  }
  @media screen and (max-height: $breakpoint-up-xs) {
    display: none;
  }
}

.home-decoration--right {
  bottom: -1px;
  right: 0;

  @media screen and (max-width: $breakpoint-up-md) {
    right: -200px;
  }
  @media screen and (max-width: $breakpoint-up-xs) {
    right: -300px;
  }
}

.home-decoration--left {
  top: 0;
  left: -80px;
  @media screen and (max-width: $breakpoint-up-lg) {
    left: -100px;
  }
  @media screen and (max-width: $breakpoint-up-md) {
    left: -120px;
  }
  @media screen and (max-width: $breakpoint-up-xs) {
    left: -175px;
  }
}
