@import '../../../../styles/configs.scss';
@import '../../../../styles/colors.scss';

.header {
  padding: 32px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: rgba(28, 33, 40, 0.95);
  background-color: rgba(28, 33, 40, 0.79);

  @media screen and (max-width: $breakpoint-up-md) {
    padding: 48px;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: $breakpoint-up-lg) {
    padding: 32px;
  }
  @media screen and (max-width: $breakpoint-up-sm) {
    padding: 24px;
  }

  &__search-form {
    background-color: #ffffff;
    height: 34px;
    width: 260px;
    border-radius: 25px;
    overflow: hidden;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;

    @media screen and (max-width: $breakpoint-up-lg) {
      display: none;
    }
    @media screen and (max-width: $breakpoint-up-xl) {
      width: 220px;
    }
  }

  &__input {
    border: none;
    height: 100%;
    width: 100%;
  }

  &__logo {
    z-index: 5;
  }

  &__content-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20%;
    @media screen and (max-width: $breakpoint-up-xl) {
      margin-left: 15%;
    }
    @media screen and (min-width: $breakpoint-down-xl) {
      margin: 0 auto;
    }
  }

  .basket {
    margin-left: auto;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: $breakpoint-up-md) {
      display: none;
    }

    &-counter {
      position: absolute;
      right: -8px;
      top: -4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: #f47262;
      border-radius: 50%;
      font-size: 1.125rem;
      font-family: sans-serif;
      color: white;
    }
  }
}
