@import '../../../../styles/configs.scss';

.header {
  padding: 32px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  //background-color: rgba(28, 33, 40,0.95);

  @media screen and (max-width: $breakpoint-up-md) {
    padding: 48px;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: $breakpoint-up-lg) {
    padding: 32px;
  }
  @media screen and (max-width: $breakpoint-up-sm) {
    padding: 24px;
  }

  &__search-form {
    background-color: #ffffff;
    height: 42px;
    width: 260px;
    border-radius: 25px;
    overflow: hidden;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;

    @media screen and (max-width: $breakpoint-up-md) {
      display: none;
    }
  }

  &__input {
    border: none;
    height: 100%;
    width: 100%;
  }

  &__logo {
    z-index: 5;
  }

  &__content-wrapper {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    @media screen and (max-width: $breakpoint-up-xl) {
      margin-left: 15%;
    }
  }
}
