@import '../../../../styles/configs.scss';
@import '../../../../styles/colors.scss';

.header {
  padding: 32px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(28, 33, 40, 0.79);

  @media screen and (max-width: $breakpoint-up-sm) {
    padding: 24px;
  }

  &__search-form {
    width: 260px;
    margin-left: 32px;

    @media screen and (max-width: $breakpoint-up-xl) {
      width: 250px;
    }
    @media screen and (max-width: $breakpoint-up-lg) {
      display: none;
    }
  }

  &__logo-wrapper {
    z-index: 5;
    @media screen and (max-width: $breakpoint-up-sm) {
      width: 130px;
    }
  }
  &__content-wrapper {
    display: flex;
    align-items: center;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .basket {
    cursor: pointer;
    position: relative;
  }
}

body.overflow-hidden {
  .header {
    padding-right: 49px;

    @media screen and (max-width: $breakpoint-up-sm) {
      padding-right: 24px;
    }
  }
}
